extends layouts/page

block main
    section.w-full.max-w-3xl.m-auto.my-8.bg-white.rounded-lg.shadow-md
        header.p-4.border-b-2.border-gray-200.antialiased
            h1.text-gray-800.text-xl Settings

        form#settings-form(method="POST")
            section(class="w-2/3")
                // Calendar ID
                .w-full(.p-8.block)
                    label.block.uppercase.tracking-wide.text-gray-700.text-xs.font-bold.mb-2.antialiased(
                    )
                        | Calendar ID

                    input#calendar-id.appearance-none.block.w-full.bg-gray-200.text-gray-700.border.rounded.py-3.px-4(
                        class="\" + \"leading-tight focus:outline-none focus:bg-white",
                        type="text",
                        placeholder="Primary"
                    )

            // Save Button
            .w-full(.flex)
                .w-full(.px-8.pb-8)
                    button.bg-blue-500.text-white.font-bold.py-2.px-4.tracking-wide.antialiased(
                        class="hover:bg-blue-700 \" + \"rounded focus:outline-none focus:shadow-outline \" + \"ease-in",
                        type="submit"
                    ) Save Settings

block scripts
    script(src="../../temp/settings.js")
